<div id="findMeContainer">

    <span id="electricityBackgroundDiv"></span>

    <span id="electricityBackgroundDivCover"></span>

    <div id="findMeInfoDiv" class="open">
    
        <h1 id="findMeMainHeading">FIND ME</h1>
                
        <div id="socialMediaDiv" class="open">

            <h1 id="mySocialMediaHeading">MY SOCIAL MEDIA</h1>

            <a href="/">
            
                <img id="facebookIcon" src="assets/img/facebook.png">
            
            </a>

            <a href="/">
            
                <img id="twitterIcon" src="assets/img/twitter.png">
            
            </a>

            <a href="/">
            
                <img id="instagramIcon" src="assets/img/instagram.png">
            
            </a>

            <a href="/">
            
                <img id="pinterestIcon" src="assets/img/pinterest.png">
            
            </a>

        </div>

        <div id="contactInfoDiv">

            <h1 id="myContactHeading">MY CONTACT INFO</h1>

            <div id="mapBackgroundDiv">
            
                <img id="mapBackground" src="assets/img/map.png">

            </div>

            <span id="mapBackgroundBorder"></span>

            <img id="phoneIcon" src="assets/img/phone.png">

                <p id="phoneNumber">(323) 815-0337</p>

            <img id="addressIcon" src="assets/img/address.png">

                <p id="generalAddress">Los Angeles, CA 90028</p>

            <img id="emailIcon" src="assets/img/email.png">
            
                <p id="myEmail">maxcherkasskikh@gmail.com</p>
            
        </div>

    </div>

</div>