<div id="myPricingContainer">

    <span id="foxBackgroundDiv"></span>

    <span id="foxBackgroundDivCover"></span>
    
    <div id="myPricingInfoDiv" class="open">

        <h1 id="myPricingMainHeading">MY PRICING</h1>

        <div id="pricingContainer">

            <a id="generalPricingButton">GENERAL PRICING</a>

            <a id="specificPricingButton">SPECIFIC PRICING</a>

            <span id="pricingButtonUnderline"></span>

            <div id="generalPricingDiv">

                <div id="generalPricingParDiv">
                            
                    <p id="generalPricingPar1">Most freelance web designers/developers charge per hour. Depending on the complexity of the projects you need done that can be a good or a bad thing for your bottom line. If your project is simple and straightfoward than hiring a designer/developer on an hourly basis is your best bet. If you need something a little more complex and custom-made than a flat rate for your entire project might be better. I am willing to work with you either way. We can discuss your project and see which one may be a better option for you.</p>

                    <p id="generalPricingPar2">If you know that your project will need to be custom tailored to your needs and you need a quote than let's talk.</p>

                </div>

                    <button id="pricingGetAQuoteButton" href="/">GET A QUOTE</button>

            </div>

            <div id="specificPricingDiv">

                <a id="specificPricingWebDesignButton">WEB DESIGN</a>

                <a id="specificPricingWebDevelopmentButton">WEB DEVELOPMENT</a>

                <a id="specificPricingBrandingButton">BRANDING</a>

                <a id="specificPricingWordpressButton">WORDPRESS</a>

                <span id="specificPricingButtonUnderline"></span>

                <div id="specificPricingWebDesignDiv">

                    <h2 id="specificPricingWebDesignHeading">WEB DESIGN</h2>
                    
                        <p id="specificPricingWebDesignPar">If all you need is a design and you have another specific web developer you want to hire to bring the design to life, I'm still your man for the job. I can create an "out-of-the-box" design for you while keeping cross-platform needs in mind. Or I can keep it simple. Your call!</p>

                            <p id="specificPricingWebDesignCostPar">$35/Hour</p>

                                <button id="specificPricingWebDesignHireButton">HIRE ME</button>
                    
                </div>

                <div id="specificPricingWebDevelopmentDiv">

                    <h2 id="specificPricingWebDevelopmentHeading">WEB DEVELOPMENT</h2>
                    
                        <p id="specificPricingWebDevelopmentPar">If you already have a design drawn up and you just need someone to bring it to life than you found someone that specializes in this area in myself. This is what my passion is, to bring cool web sites to life. No level of complexity is out of the question. It's only a matter of time.</p>

                            <p id="specificPricingWebDevelopmentCostPar">$25/Hour</p>

                                <button id="specificPricingWebDevelopmentHireButton">HIRE ME</button>
                    
                </div>

                <div id="specificPricingBrandingDiv">

                    <h2 id="specificPricingBrandingHeading">BRANDING</h2>
                    
                        <p id="specificPricingBrandingPar">If all you need is some branding guidance, I can use my expertise and good eye to help you find your look and feel. You got a rough design and someone willing to bring the website to life but you're still not sure about the detailing? I can help you define your colors, fonts, prepare those into a file for your web designer/developer and work with your content.</p>

                            <p id="specificPricingBrandingCostPar">$20/Hour</p>

                                <button id="specificPricingBrandingHireButton">HIRE ME</button>
                    
                </div>

                <div id="specificPricingWordpressDiv">

                    <h2 id="specificPricingWordpressHeading">WORDPRESS</h2>
                    
                        <p id="specificPricingWordpressPar">If you want to keep it simple and save time and money on the development of your site and template-based websites fit your needs I can help you get a Wordpress site going. Not everyone needs an "out-of-this-world" design. Sometimes functionality is all you really need.</p>

                            <p id="specificPricingWordpressCostPar">$20/hour</p>

                                <button id="specificPricingWordpressHireButton">HIRE ME</button>
                    
                </div>

            </div>

        </div>

    </div>

</div>