<div id="contactMeContainer">

    <span id="trainBackgroundDiv"></span>

    <span id="trainBackgroundDivCover"></span>

    <div id="contactFormDiv" class="open">

        <h1 id="contactMeMainHeading">CONTACT ME</h1>
    
        <p id="contactFormHeading">If you would like to hire me than please fill out this short form and leave me a detailed message along with it and I will get back to you on your project as soon as I can.</p>

        <form id="formContainer">

            <input id="firstNameInput" type="text" placeholder="Your First Name">

            <input id="lastNameInput" type="text" placeholder="Your Last Name">

            <input id="emailInput" type="email" placeholder="Your Email">

            <input id="subjectInput" type="text" placeholder="The Subject">

                <p id="contactFormMessageDescription">In the message, please describe your project in as much detail as you possibly can to give me a good idea of your needs. The more details you can give me, the better quote and timeline that I can give you.</p>

            <input id="messageInput" type="text" placeholder="Your Message">

            <button id="submitButton" type="submit">SEND MESSAGE</button>

        </form>

    </div>
    
</div>