<div id="aboutMeContainer">

  <span id="cityBackgroundDiv"></span>

  <span id="cityBackgroundDivCover"></span>

  <div id="aboutMeSwitchContainer" class="open">

    <span id="buttonCover"></span>

    <div id="headshotContainer">

      <img id="headshotImage" src="assets/img/headshot.jpg">

    </div>

    <a id="aboutMeButton">ABOUT ME</a>

    <a id="myPhilosophyButton">MY PHILOSOPHY</a>

    <span id="switchUnderline" class="aboutme"></span>

    <div id="aboutMeSection" class="aboutme">

        <p id="aboutMePar1">I was born in what is now a war-torn south-eastern region of Ukraine in June of 1988 into a struggling protestant family looking for a way to survive in a corrupt post-Soviet Union country still trying to find its identity.</p>

        <p id="aboutMePar2">In the late 90's my parents made the tough decision to follow extended family and move us to the United States in hopes of giving us a better and more stable life, the opportunity to get a better education and to pursue our dreams once me and my younger siblings were old enough. In September of 1998 we landed in Seattle, WA and extended our roots into the local Christian community.</p>

        <p id="aboutMePar3">From there, I had a great upbringing in a wonderful community filled with music. Both my brothers and I went through the public education system while being heavily involved in the musical programs there and in the church community.</p>

        <p id="aboutMePar4">I got involved in the music program during my 7th grade and have been active in that sphere on a regular and semi-regular basis since than. I started with playing drums and went on to pick up piano and guitar from there ultimately culminating in me getting an Associate's Degree in Music Production from Shoreline Community College in the north Seattle area.</p>

        <p id="aboutMePar5">In my mid twenties I made the decision to move to Los Angeles, CA to pursue my musical ambitions, discovering in the process that my other passion was web development.</p>

        <p id="aboutMePar6">Being an artist since my early years I feel that I already had an eye for web design. Most artists can more easily transfer mediums to create great art when they understand the mechanics behind it regardless of which canvas they are using to create. Not that anyone around me realized at the time, but I always had an interest in web design which inevitably led me into web development. I derive a lot of satisfaction and joy out of creating eye-catching visuals. But I also want to be the guy that can implement the design into something that is functional and useful.</p>

        <p id="aboutMePar7">All of this led me to research ways to get into the field. I started looking into cheap and useful educational tools like LYNDA.com, UDEMY.com and various other tools like Google and YouTube to learn how to do not just web designs but how to actually make those into functional web sites.</p>

        <p id="aboutMePar8">I started with familiarizing myself with the basics like HTML structure, CSS styling and JAVASCRIPT interactive languages while competing and winning projects with freelance companies like 99designs.com and then going onto learning more useful tools like jQuery and Bootstrap frameworks to make my web pages stand out and for them to be responsive and cross-platform. That, in turn, led me to expand into back-end languages like PHP, MySQL and other areas of interest like mobile app creation.</p>

        <p id="aboutMePar9">I pride myself on being resourceful enough to research my way out of any web development road block I may run into in the web creation process. I may not know everything about the process just yet, but the internet along with its endless number of tools is my weapon of choice in defeating any problem I may run into. It has such a rich knowledge base that anyone can find any solution to a problem they are facing. The life a web developer is synonymous with constant research and self-education due to the ever-changing nature of technology.</p>

        <p id="aboutMePar10">I am, first and foremost, a musical artist, composer, arranger, sound engineer and a producer. But I find that there are multiple parallels between music creation and web design and development. You start from scratch and build something wonderful that anyone can enjoy.</p>

    </div>

    <div id="myPhilosophySection" class="aboutme">

        <p id="myPhilosophyPar1">I am a huge fan of modern and "out of the box" type of design. I derive most of my inspiration from looking through designs that reflect this era and approach because I feel that it is more cohesive and clean from a color and layout stand point but also unique. I constantly reference and scour other web pages and pinterest.com for new ideas. I believe it is also reflected in the way my code comes out; clean and legible.</p>

        <p id="myPhilosophyPar2">I am a huge fan of using great image content to draw in the visitor. Functional design is clearly an important and integral part of the web development process. But in today's evolving world of all-things-internet-related and short attention spans it's important not to overlook the UI element because it draws in the visitor and increases engagement. I believe in creating a story with images and allowing them to enhance the content. I believe that my personal website is a reflection of that. It tells my story with images along with the content.</p>

        <p id="myPhilosophyPar3">If you are looking at a real estate web page you should see a lot of attractive architectural elements reflected. If you are looking at a car dealership web site you should be able to see a ton of cool cars that take you back to all your childhood dreams of driving a wonder on wheels. If you are looking at a travel site you should be able to see a ton of destinational images that will make you want to book a trip to your favorite vacational spot. Imagery should and does subconsciously attract and invite the user to stay and engage longer than it would otherwise with just a simple functional design.</p>

        <p id="myPhilosophyPar4">I love finding images online and working with their edges, opacity settings, blur and overlay functions outside the code editor to fit them into geometric divisional shapes that are far from your standard and straightforward square and rectangle designs. There is nothing wrong with those type of designs. But I like to think "outside the box" with my designs and to create "Eye-Candy" designs that make you want to linger just a little longer on the web page.</p>

    </div>

  </div>

</div> 