<div id="myTutorialsContainer">

    <span id="owlBackgroundDiv"></span>

    <span id="owlBackgroundDivCover"></span>

    <div id="myTutorialsDiv" class="open">

      <h1 id="myTutorialsMainHeading">MY TUTORIALS</h1>

        <p id="myTutorialsMainPar">I am currently working on a personal series of "BASICS" tutorials. They will be up on this website as soon as they are done. Meanwhile, enjoy some of these personally hand picked tutorials that have helped me get the hang of the front end development basics when I got started in this field.</p>

      <div id="tutorialLinksDiv">

        <img id="htmlIcon" src="assets/img/html.png">

          <a id="htmlLink" href="/">HTML - The content structure language</a>

        <img id="cssIcon" src="assets/img/css.png">

          <a id="cssLink" href="/">CSS - The conent styling language</a>

        <img id="javascriptIcon" src="assets/img/javascript.png">

          <a id="javascriptLink" href="/">JAVASCRIPT - The website interactivity language</a>

      </div>

    </div>

</div>