<div id="mySkillsContainer">

    <span id="burnBackgroundDiv"></span>

    <span id="burnBackgroundDivCover"></span>

    <div id="overallSkillsDiv">

        <h1 id="skillsMainHeading">MY SKILLS</h1>

        <a id="generalSkillsButton">GENERAL SKILLS</a>

        <a id="specificSkillsButton">SPECIFIC SKILLS</a>

        <span id="skillsSwitchUnderline" class="generalskills"></span>

        <span id="skillsButtonsBackgroundCover"></span>

        <div id="skillsContainer">

            <div id="theGeneralSkillsContainer" class="generalskills">
            
                <div id="theDesignContainer">

                    <img id="designIcon" src="assets/img/design.png">

                        <h2 id="designHeading">DESIGN</h2>

                            <p id="designPar">I use industry standard tools like Photoshop CC, Adobe Illustrator, free hand drawing tools and other online tools to create mock ups and to work with your images so that you know exactly what you are getting in terms of structure, content and design</p>

                </div>

                <div id="theDevelopmentContainer">

                    <img id="developmentIcon" src="assets/img/development.png">

                        <h2 id="developmentHeading">DEVELOPMENT</h2>

                            <p id="developmentPar">I use industry standard coding editors like Brackets and the latest coding language versions like HTML5, CSS3, ES6, jQuery as well as Bootstrap 4 to develop a custom-tailored website for your personal needs or a business that will be responsive and look great across all platforms</p>

                </div>

                <div id="theBrandingContainer">

                    <img id="brandingIcon" src="assets/img/branding.png">

                        <h2 id="brandingHeading">BRANDING</h2>

                            <p id="brandingPar">I use a common sense approach to branding by helping you pick your colors, fonts and styles to make sure that your branding is consistent across the board</p>

                </div>

                <div id="theWordpressContainer">

                    <img id="wordpressIcon" src="assets/img/wordpress.png">

                        <h2 id="wordpressHeading">WORDPRESS</h2>

                            <p id="wordpressPar">Sometimes you don't need to re-invent the wheel. If you have one, I can work with your Wordpress theme to custom tailor it to your desires and needs</p>

                </div>

            </div>

            <div id="theSpecificSkillsContainer" class="generalskills">

                <a id="theFrontEndButton">THE FRONT END</a>

                <a id="theBackEndButton">THE BACK END</a>

                <span id="frontBackEndSwitchUnderline" class="frontend"></span>

                <div id="theFrontEndDiv" class="frontend">

                    <div id="htmlDiv">

                        <h2 class="frontEndSkillTitles">HTML 5 -</h2>

                            <p class="frontEndSkillDescriptions">The language of content structure</p>

                                <div class="gageLevelBorders">

                                    <div id="htmlLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="sassDiv">

                        <h2 class="frontEndSkillTitles">SASS -</h2>

                            <p class="frontEndSkillDescriptions">The language of style</p>

                                <div class="gageLevelBorders">

                                    <div id="sassLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="javascriptDiv">

                        <h2 class="frontEndSkillTitles">JAVASCRIPT ES6 -</h2>

                            <p class="frontEndSkillDescriptions">The interactivity driver</p>

                                <div class="gageLevelBorders">

                                    <div id="javascriptLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="jqueryDiv">

                        <h2 class="frontEndSkillTitles">jQUERY -</h2>

                            <p class="frontEndSkillDescriptions">A simplified way to build interactivity</p>

                                <div class="gageLevelBorders">

                                    <div id="jqueryLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="bootstrapDiv">

                        <h2 class="frontEndSkillTitles">BOOTSTRAP 4 -</h2>

                            <p class="frontEndSkillDescriptions">The way to cross-platform design</p>

                                <div class="gageLevelBorders">

                                    <div id="bootstrapLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="angularDiv">

                        <h2 class="frontEndSkillTitles">ANGULARjs 7 -</h2>

                            <p class="frontEndSkillDescriptions">Turning the desktop web into single page apps</p>

                                <div class="gageLevelBorders">

                                    <div id="angularLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="vueDiv">

                        <h2 class="frontEndSkillTitles">VUEjs -</h2>

                            <p class="frontEndSkillDescriptions">The "User Interface" creator</p>

                                <div class="gageLevelBorders">

                                    <div id="vueLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="reactDiv">

                        <h2 class="frontEndSkillTitles">REACTjs -</h2>

                            <p class="frontEndSkillDescriptions">Nearly non-existent reload time</p>

                                <div class="gageLevelBorders">

                                    <div id="reactLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                </div>

                <div id="theBackEndDiv" class="frontend">

                    <div id="wordpressDiv">

                        <h2 class="backEndSkillTitles">WORDPRESS -</h2>

                            <p class="backEndSkillDescriptions">A time-saving approach to web site building</p>

                                <div class="gageLevelBorders">

                                    <div id="wordpressLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="phpDiv">

                        <h2 class="backEndSkillTitles">PHP -</h2>

                            <p class="backEndSkillDescriptions">The back end way to structure and interactivity</p>

                                <div class="gageLevelBorders">

                                    <div id="phpLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="nodejsDiv">

                        <h2 class="backEndSkillTitles">NODEjs -</h2>

                            <p class="backEndSkillDescriptions">The web on your machine</p>

                                <div class="gageLevelBorders">

                                    <div id="nodejsLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="mysqlDiv">

                        <h2 class="backEndSkillTitles">MYsql -</h2>

                            <p class="backEndSkillDescriptions">Pulling up database information</p>

                                <div class="gageLevelBorders">

                                    <div id="mysqlLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="jsonDiv">

                        <h2 class="backEndSkillTitles">JSON -</h2>

                            <p class="backEndSkillDescriptions">An object-oriented way to the web</p>

                                <div class="gageLevelBorders">

                                    <div id="jsonLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                    <div id="githubDiv">

                        <h2 class="backEndSkillTitles">GITHUB -</h2>

                            <p class="backEndSkillDescriptions">A way to control project versions</p>

                                <div class="gageLevelBorders">

                                    <div id="githubLevelGage" class="levelGages"></div>

                                </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>