<div id="myWorkContainer">

  <span id="millBackgroundDiv"></span>

  <span id="millBackgroundDivCover"></span>

  <div id="myWorkDiv" class="open">

    <h1 id="myWorkMainHeading">MY WORK</h1>

    <p id="toCheckOutPar">To check out some of my work, click on one of the diamonds.</p>

    <span id="toCheckOutBackground"></span>
  
    <div id="ldmDiv">

      <a id="ldmHeading">LONG DISTANCE MOVERS</a>

        <div id="ldmImageContainer" class="workImageContainers small">

          <img id="ldmImage" class="workImages smaller" src="assets/img/l.d.m.e.png">

        </div>

    </div>

    <div id="instafamousDiv">

      <a id="instafamousHeading">INSTAFAMOUS</a>

        <div id="instafamousImageContainer" class="workImageContainers small">

          <img id="instafamousImage" class="workImages smaller" src="assets/img/instafamous.png">

        </div>

    </div>

    <div id="academyDiv">

      <a id="academyHeading">THE ACADEMY</a>

        <div id="academyImageContainer" class="workImageContainers small">

          <img id="academyImage" class="workImages smaller" src="assets/img/academy.png">

        </div>

    </div>

    <div id="gameonDiv">

      <a id="gameonHeading">GAME ON</a>

        <div id="gameonImageContainer" class="workImageContainers small">

          <img id="gameonImage" class="workImages smaller" src="assets/img/gameon.png">

        </div>

    </div>

    <p id="myGithubText">To find my personal Github page click this link:</p>

    <a id="myGithubLink">LINK</a>

    <p id="myLinkedInText">To find my personal LinkedIn page click this link:</p>

    <a id="myLinkedInLink">LINK</a>

  </div>

</div>