<header>

  <a id="nameLogo" routerLink="/">MAX CHERKASSKIKH</a>

  <span id="navVerticalLineLeft"></span>

  <span id="navVerticalLineRight"></span>

  <img id="navMenuButton" class="closed" src="assets/img/menubutton.png">

  <div id="navMenuContainer" class="initial closed">

    <ul id="menuLinkContainer">

      <li id="menuLink1" class="menuLinks closed"><a routerLink="/">HOME</a></li>

      <li id="menuLink2" class="menuLinks closed"><a routerLink="/aboutme">ABOUT ME</a></li>

      <li id="menuLink3" class="menuLinks closed"><a routerLink="/myskills">MY SKILLS</a></li>

      <li id="menuLink4" class="menuLinks closed"><a routerLink="/mywork">MY WORK</a></li>

      <li id="menuLink5" class="menuLinks closed"><a routerLink="/myresume">MY RESUME</a></li>

      <li id="menuLink6" class="menuLinks closed"><a routerLink="/myservices">MY SERVICES</a></li>

      <li id="menuLink7" class="menuLinks closed"><a routerLink="/mypricing">MY PRICING</a></li>

      <li id="menuLink8" class="menuLinks closed"><a routerLink="/mysocialmedia">MY SOCIAL MEDIA</a></li>

      <li id="menuLink9" class="menuLinks closed"><a routerLink="/mycodingtutorials">MY CODING TUTORIALS</a></li>

      <li id="menuLink10" class="menuLinks closed"><a routerLink="/myotherinterests">MY OTHER INTEREST</a></li>

      <li id="menuLink11" class="menuLinks closed"><a routerLink="/faq">FAQ PAGE</a></li>

      <li id="menuLink12" class="menuLinks closed"><a routerLink="/contactme">CONTACT ME</a></li>

    </ul>

  </div>

</header>