<div id="homeContainer">

    <span id="mainHeaderBackgroundDiv"></span>

    <div id="mainHeadingContainer" class="open">

        <h1 id="homeHeaderHeading">FRONT-END WEB DEVELOPER & UI DESIGNER</h1>

            <h2 id="homeAboutPar">Based out of Los Angeles, CA. I specialize in custom Client-Side <br> Development and User Interface design.</h2>

                <p id="efficiencyText">Efficiency</p>
                        
                <p id="simplicityText">Simplicity</p>
                        
                <p id="elegenceText">Elegence</p>

                    <a id="learnMoreButton" routerLink="/aboutme">LEARN MORE</a>

                    <a id="needWebsiteButton" routerLink="/contactme">I NEED A WEBSITE</a>

    </div>

    <div id="homeTransitionDiv"></div>

    <div id="secondaryHeadingContainer">

        <h2 id="greatDevHeading">I Am A Creative Web Designer And Developer</h2>
                        
            <p id="greatDevPar">Having a functional website is great, but having an eye catching design to go along with it that makes the user linger around a little longer is much better!</p>

        <h2 id="myMissionHeading">MY MISSION</h2>

            <p id="myMissionPar">Is to give the customer a product they will be ecstatic about for a very long time. I take what the customer wants and needs very seriously. I want the customer to walk away knowing they got a steal of a deal at a fraction of the cost of what most web development agencies charge. I want the customer to be so happy with their product that they can't wait to show it to their family, friends and co-workers while spreading the good word on the street about the product and my services; because (as we all know) "word-of-mouth" marketing is the best kind of marketing. I will walk you through the process from start to finish while providing you with outstanding service that you can rely on today and down the road.</p>

            <a id="myStoryButton" routerLink="/aboutme">READ MY STORY</a>

    </div>

</div>