<div id="myResumeContainer">

  <span id="lighthouseBackgroundDiv"></span>

  <span id="lighthouseBackgroundDivCover"></span>

  <div id="mainResumeContainer" class="open">

    <h1 id="resumeMainHeading">MY RESUME</h1>

    <a id="page1Button">PAGE ONE</a>

    <a id="page2Button">PAGE TWO</a>

    <a id="page3Button">PAGE THREE</a>

    <span id="resumeButtonBackground"></span>

    <span id="resumePageButtonUnderline" class="pageone"></span>

    <div id="resumeDiv1" class="pageone">

      <a id="resumeLink1" class="smallresume" href="assets/img/resume1.png" download>

        <img id="resumeImage1" src="assets/img/resume1.png">

      </a>

        <p class="toDownloadPars">To download page, click on image.</p>

      <a id="pageEnlargeButton1">ENLARGE</a>

    </div>

    <div id="resumeDiv2" class="pageone">

      <a id="resumeLink2" class="smallresume" href="assets/img/resume2.png" download>

        <img id="resumeImage2" src="assets/img/resume2.png">

      </a>

        <p class="toDownloadPars">To download page, click on image.</p>

      <a id="pageEnlargeButton2">ENLARGE</a>

    </div>

    <div id="resumeDiv3" class="pageone">

      <a id="resumeLink3" class="smallresume" href="assets/img/resume3.png" download>

        <img id="resumeImage3" src="assets/img/resume3.png">

      </a>

        <p class="toDownloadPars">To download page, click on image.</p>

      <a id="pageEnlargeButton3">ENLARGE</a>

    </div>

  </div>

</div>